/lib_?d/*.a
/lib_?d/*.mod
/lib_?d/*.o
/poisson_3d_fft/*.a
/poisson_3d_fft/*.mod
/poisson_3d_fft/*.o
/poisson_3d_fft/PSolver
/single_module/m_octree_mg.mod
/single_module/m_octree_mg.o
/single_module/m_octree_mg_2d.mod
/single_module/m_octree_mg_2d.o
/single_module/m_octree_mg_3d.mod
/single_module/m_octree_mg_3d.o
/single_module/test_uniform_grid_2d
/single_module/test_uniform_grid_3d
/tests/test_free_space_3d
/tests/test_performance_?d
/tests/test_refinement_?d
/tests/test_uniform_grid_?d
/GPATH
/GRTAGS
/GTAGS
/single_module/test_refinement_2d
/single_module/test_refinement_3d

